{% import './components/helpers/_generate-url' as GenerateUrlHelper %}
{% import './components/helpers/_phone-link' as PhoneHelper %}
{% import './components/macros/blocks/_contact' as Contact %}
{% import './components/macros/elements/_links' as LinksElement %}

{% set addressTitle = footer.genericTitle %}
{% set addressTitleLink = footer.entriesLinksSingle.one() %}
{% set address = footer.genericAddress.one() %}
{% set socialLinks = socialMedia.matrixSocialLink.all() %}
{% set footerLinks = footer.entriesLinksMultiple.all() %}

{% macro SocialChannels(socialLinks) %}
  {% for block in socialLinks %}
    {{ block.socialType }}="{{ block.socialLink }}"
  {% else %}
    {{ null }}
  {% endfor %}
{% endmacro %}

{% macro FooterLinkItem(linkEntry) %}
  {% set link = linkEntry.neoLink.one() %}
  {% set text = link.genericHeading ?? linkEntry.title %}

  {% set notInternal = link.type == 'downloadLink'
    or link.type == 'externalLink'
  %}

  {% set openNewWindow = link
    and (link.optionTarget == 'blank' or link.type == 'downloadLink')
  %}

  {% set attributes = {
    aria: {
      label: link.genericPlainText ?? null
    },
    target: openNewWindow ? '_blank' : null,
    rel: notInternal ? 'noopener' : null
  } %}

  <a {{ GenerateUrlHelper.GetHref(link) }} {{ attr(attributes) }}>{{ text }}</a>
{% endmacro %}

{% macro FooterLinks(footerLinks) %}
  <div slot="links">
    {% for linkEntry in footerLinks %}
      {{ _self.FooterLinkItem(linkEntry) }}
    {% endfor %}
  </div>
{% endmacro %}

<footer>
  <umd-footer-small {{ _self.SocialChannels(socialLinks) }}>
    <div slot="contact">
      {{ addressTitle or addressTitleLink
        ? Contact.Title(addressTitle, addressTitleLink) }}
      {{ address ? Contact.Address(address) }}
      {{ Contact.PhoneEmail(footer) }}
    </div>
    {{ footerLinks ? _self.FooterLinks(footerLinks) }}
  </umd-footer-small>
</footer>
